<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Actividades</title>
  <link rel="icon" href="/static/favicon.png" type="image/png">

  <!-- Evo-calendar base style -->
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/css/evo-calendar.min.css" />

  <!-- 👇 Aquí el tema específico "Royal Navy" -->
  <link rel="stylesheet" type="text/css"
    href="/static/evo-calendar/evo-calendar/css/evo-calendar.royal-navy.min.css" />
    <style>
  /* Calendario completo */

      body{
        background-color: rgb(229,229,232);
      }
  /* Fondo principal */
  .evo-calendar .calendar-inner {
    background-color: rgb(229,229,232); /* Negro */
    color: rgb(229,229,232);   /* Gris claro */
  }

</style>


  <!-- jQuery -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>

  <!-- Evo-calendar funcionalidad -->
  <script src="https://cdn.jsdelivr.net/npm/evo-calendar@1.1.2/evo-calendar/js/evo-calendar.min.js"></script>
</head>
  <script>
    let actividades = {{actividades|tojson}};
    console.log(actividades);
    $(document).ready(function () {
      events = actividades.map((event, index)=> (
        {
          id: `${index}`,
          name: `${event.descripcion}`,
          date: [`${event.fecha}`, `${event.fecha}`], // Date range
          description: `${event.comentario}`, // Event description (optional)
          type: "event",
          color: `${event.color}` // Event custom color (optional)
         }
       ))
            $('#calendar').evoCalendar({
                theme: 'Royal Navy',

                calendarEvents: events
            })
        })
  </script>

<body>
  <nav class="bg-black">
    <div class="max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex shrink-0 items-center">
            <img class="h-8 w-auto" src="/static/favicon.png" alt="Your Company">
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex items-center space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Dashboard</a>
              <a href="/nueva"
                class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Nueva</a>
              <a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
                aria-current="page">Actividades hechas hasta la fecha</a>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        </div>
      </div>
    </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pt-2 pb-3">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="/" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white"
          aria-current="page">Dashboard</a>
        <a href="/nueva"
          class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Nueva</a>
        <a href="#"
          class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Actividades
          hechas hasta la fecha</a>
      </div>
    </div>
  </nav>

  <p class="text-center mt-6 text-3xl mb-3 font-bold"> Aquí encontrarás las actividades hechas hasta la fecha </p>

  <div id="calendar"></div>
  <div class="ml-2 mr-2 grid grid-cols-1 gap-4 mt-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5">
  </div>
</body>

</html>