<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Publicar</title>
  <link rel="icon" href="/static/favicon.png" type="image/png">
</head>

<body class="bg bg-gray-100">
  {% include 'navbar.html' %}

  <div class="mt-12 flex items-center justify-center">
    <div class="max-w-xs w-full">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="/publicar">
        <h1 class="text-lg text-gray-800 text-center font-bold mb-2">
          Publicar nueva actividad
        </h1>
        <div class="mb-4">
          <label for="categoria" class="block mb-2 text-sm font-medium text-gray-700">Selecciona una categoría</label>
          <select name="categoria" id="categoria"
            class="block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500"
            required>
            <option value="Deporte y cultura">Deporte y cultura</option>
            <option value="Torneos internos">Torneos internos</option>
            <option value="Capitulos estudiantiles">Capítulos estudiantiles</option>
            <option value="Grupos estudiantiles">Grupos estudiantiles</option>
            <option value="Bienestar">Bienestar</option>
            <option value="Mentoría">Mentoría</option>
            <option value="Clubs estudiantiles">Clubs estudiantiles</option>
            <option value="Actividades recreativas">Actividades recreativas</option>
          </select>

        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="">
            Titulo de la actividad
          </label>
          <input required name="descripcion"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="titulo" type="text" placeholder="Titulo">
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="">
            Duración de la actividad
          </label>
          <input required name="duracion"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="duracion" type="text" placeholder="Duración">
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="">
            Fecha
          </label>
          <input required name="fecha"
          placeholder="pi" type="date" class="border rounded-lg w-full p-2 focus:outline-none focus:ring-2 focus:ring-blue-500" min={{ today }}>
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="">
            Descripción
          </label>
          <textarea name="comentario" id="desc" rows="4" placeholder="Describa brevemente la actividad" required class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>

        </div>
        <div class="flex items-center justify-center">
          <button
            class="bg-[#003366] hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Publicar
          </button>

        </div>
      </form>
      <p class="text-center text-gray-500 text-xs">
        &copy;2025 Key institute. All rights reserved.
      </p>
    </div>
  </div>
</body>

</html>